!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    120
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------

URxvt.depth:                256

! Padding
URxvt.internalBorder:       16

! Fonts
URxvt*font:                 xft:Roboto Mono:style=Regular:size=11
URxvt*boldFont:             xft:Roboto Mono:style=Medium:size=11

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! special
*.foreground:   #eeffff
*.background:   #282C33
*.cursorColor:  #c0c5ce

! black
*.color0:       #2e343f
*.color8:       #282C33

! red
*.color1:       #DE5062
*.color9:       #C44450

! green
*.color2:       #8CDBAB
*.color10:      #76B88F

! yellow
*.color3:       #fac55b
*.color11:      #E8B353

! blue
*.color4:       #7CA9DB
*.color12:      #719AC7

! magenta
*.color5:       #c792ea
*.color13:      #AB7EC9

! cyan
*.color6:       #89ddff
*.color14:      #79C2E0

! white
*.color7:       #eeffff
*.color15:      #646E7F

URxvt.perl-ext-common: default,matcher,font-size
URxvt.font-size.step: 4
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.matcher.rend.0: Uline Bold fg4

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.letterSpace: 0

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
